# =====================================================
#  PASTE YOUR MONGODB ATLAS URI BELOW
#  Get it from: mongodb.com > Cluster > Connect > Drivers
# =====================================================
MONGODB_URI=mongodb+srv://stmsuser:stms12345@stms.astrbub.mongodb.net/smartTest?retryWrites=true&w=majority&appName=STMS
# JWT Secrets - change these to any random long string
JWT_SECRET=change-this-to-any-long-random-string-abc123xyz789
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=change-this-to-a-different-long-random-string-xyz789abc
REFRESH_TOKEN_EXPIRES_IN=7d

NODE_ENV=development
PORT=5000
ALLOWED_ORIGINS=http://localhost:3000
